.add-word-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-word-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.add-word-container form div {
  margin-bottom: 15px;
}

.add-word-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-word-container input {
  box-sizing: inherit;
  outline: none;
  width: 100%;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-word-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
}

.syn-button {
  background-color: #a3af4c;
}

.add-word-button:hover {
  background-color: #45a049;
}

.syn-button:hover {
  background-color: #828f1f;
}

.synonym-list-button {
  background-color: #b31b25;
  width: 2rem;
  height: 2rem;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.synonym-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.synonym-element-syn {
  font-size: large;
  font-weight: bold;
}

.synonym-element-syn-synonym {
  font-size: small;
}

.add-word-container .suggestions-list {
  background-color: #fefee3;
  width: 100%;
}

.add-word-container .suggestions-list li:hover {
  background-color: #f8f8c7;
}

.add-word-checkbox {
  display: flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
}

.add-word-checkbox input {
  width: 1rem;
  height: 1rem;
}

.add-word-container .add-word-checkbox-label {
  margin-bottom: 0px;
}
