.model {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}

.model button {
  border: 0.5px solid black;
  width: 5rem;
  background-color: rgb(195, 197, 199);
  cursor: pointer;
}

.model p {
  height: 20%;
  font-size: 15px;
  margin: 0;
}

.model button.active {
  background-color: #4caf50;
}

.model-question {
  width: 7%;
  align-self: center;
  justify-self: center;
  color: white;
  background-color: white;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
}

.model-container {
  display: flex;
  justify-content: center;
}

.model-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  margin-top: 3rem;
  background-color: #c4d3cb;
  width: 16rem;
  height: 16rem;
  border-radius: 10px;
  border: 0.5px solid black;
}

.model-info button {
  background: none;
  width: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.model-info button:hover {
  background-color: greenyellow;
}

.model-info p {
  color: black;
  margin: 10px;
}
