.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: rgb(110, 165, 214);
  padding: 10px;
  box-shadow: 0 4px 2px -2px gray;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  width: 20%;
  text-align: center;
}

.nav-link.active {
  color: rgb(21, 193, 21);  
  font-weight: bold;
}

.nav-link:hover {
  color: rgb(134, 234, 134);  
}

body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
}
