.word-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.word-details h1{
  font-size: 4rem;
}

.word-details-link{
  text-decoration: none;
  margin: 3px;
  color: rgb(25, 184, 158);
  border: 2px solid rgb(29, 163, 29);
  padding: 1rem;
  border-radius: 50%;
}

.word-details-link:hover{
  background-color: rgba(110, 247, 201, 0.436);
  color: rgb(15, 155, 131);
  border: 2px solid rgb(40, 218, 40);
  transition: 1s;
}