.word-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.word-details h1 {
  font-size: 4rem;
}

.word-details-link {
  text-decoration: none;
  margin: 3px;
  color: rgb(25, 184, 158);
  border: 2px solid rgb(29, 163, 29);
  padding: 1rem;
  border-radius: 10px;
  width: 8rem;
  display: inline-block;
  text-align: center;
}

.word-details-link:hover {
  background-color: rgba(110, 247, 201, 0.436);
  color: rgb(15, 155, 131);
  border: 2px solid rgb(40, 218, 40);
  transition: 1s;
}

.word-details-edit {
  height: 1rem;
}

.word-details-button {
  height: 2rem;
  width: 8rem;
  background-color: lightgrey;
  padding: 5px;
  margin: 10px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.word-details-button:hover {
  background-color: rgb(164, 164, 164);
}

.word-details-buttons {
  display: flex;
}
